* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

.navigationDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
ul {
    list-style: none;
}

.navigationDesktop a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navigationMobile a {
    color: black;
    text-decoration: none;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.navigationMobile li a:hover {
    color: rgb(218, 24, 169);
}

main {
    padding: 0 1rem;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.services {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    gap: 1.5rem;
    text-align: center;
}

.service-icon {
    height: 5rem;
    width: 5rem;
}

.service-feature p {
    text-align: justify;
}

.service-feature h3 {
    padding: 1rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.gallery-grid img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.footer-link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navMenuDesktop {
        display: none;
    }
    header {
        padding: 0;
    }
    .services {
        flex-direction: column;
        padding: 0 4rem;
        align-items: center;
        justify-content: center;
    }
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .navigationDesktop li a {
        font-size: 0.9rem;
    }
    .navMenuMobile {
        display: none;
    }
    .services {
        flex-direction: column;
        padding: 0 4rem;
        align-items: center;
        justify-content: center;
    }
}

/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* CSS rules for medium screens */

    .navigationDesktop li a {
        font-size: 1rem;
    }

    .navMenuMobile {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /* CSS rules for large screens */
    .navMenuMobile {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
    /* CSS rules for extra large screens */
    .navMenuMobile {
        display: none;
    }
}
